In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
from streamlit.components.v1 import html
from ipyvizzu import Chart, Data, Config, Style, DisplayTarget

In [2]:
df_matches = pd.read_csv('premier-league-matches.csv')
df_matches

,Season_End_Year,Wk,Date,Home,HomeGoals,AwayGoals,Away,FTR
0,1993,1,1992-08-15,Coventry City,2,1,Middlesbrough,H
1,1993,1,1992-08-15,Leeds United,2,1,Wimbledon,H
2,1993,1,1992-08-15,Sheffield Utd,2,1,Manchester Utd,H
3,1993,1,1992-08-15,Crystal Palace,3,3,Blackburn,D
4,1993,1,1992-08-15,Arsenal,2,4,Norwich City,A
...,...,...,...,...,...,...,...,...
12021,2023,38,2023-05-28,Everton,1,0,Bournemouth,H
12022,2023,38,2023-05-28,Leicester City,2,1,West Ham,H
12023,2023,38,2023-05-28,Aston Villa,2,1,Brighton,H
12024,2023,38,2023-05-28,Leeds United,1,4,Tottenham,A
12025,2023,38,2023-05-28,Brentford,1,0,Manchester City,H

## Liverpool Matches before Klopp

In [3]:
# only get Liverpool matches
df_liv_matches = df_matches[(df_matches['Home'] == 'Liverpool') | (df_matches['Away'] == 'Liverpool')]

# only get matches from 2009-08 onwards
df_liv_matches_before = df_liv_matches[df_liv_matches['Season_End_Year'] >= 2010]

# only get matches up to 2015-06-31
df_liv_matches_before = df_liv_matches_before[df_liv_matches_before['Date'] <= '2015-10-08']

# create a column to indicate whether Liverpool won, lost, or drew the match
df_liv_matches_before['Liverpool_Result'] = np.where(df_liv_matches_before['Home'] == 'Liverpool',
                                            np.where(df_liv_matches_before['HomeGoals'] > df_liv_matches_before['AwayGoals'], 'Win',
                                            np.where(df_liv_matches_before['HomeGoals'] < df_liv_matches_before['AwayGoals'], 'Loss', 'Draw')),
                                            np.where(df_liv_matches_before['HomeGoals'] < df_liv_matches_before['AwayGoals'], 'Win',
                                            np.where(df_liv_matches_before['HomeGoals'] > df_liv_matches_before['AwayGoals'], 'Loss', 'Draw')))


df_liv_matches_before

,Season_End_Year,Wk,Date,Home,HomeGoals,AwayGoals,Away,FTR,Liverpool_Result
6714,2010,1,2009-08-16,Tottenham,2,1,Liverpool,H,Loss
6718,2010,2,2009-08-19,Liverpool,4,0,Stoke City,H,Win
6731,2010,3,2009-08-24,Liverpool,1,3,Aston Villa,A,Loss
6737,2010,4,2009-08-29,Bolton,2,3,Liverpool,A,Win
6748,2010,5,2009-09-12,Liverpool,4,0,Burnley,H,Win
...,...,...,...,...,...,...,...,...,...
9022,2016,4,2015-08-29,Liverpool,0,3,West Ham,A,Loss
9032,2016,5,2015-09-12,Manchester Utd,3,1,Liverpool,H,Loss
9044,2016,6,2015-09-20,Liverpool,1,1,Norwich City,D,Draw
9047,2016,7,2015-09-26,Liverpool,3,2,Aston Villa,H,Win
9063,2016,8,2015-10-04,Everton,1,1,Liverpool,D,Draw

### Rivals

In [4]:
# rivals: Everton, Manchester United, Chelsea, Manchester City, Arsenal, Tottenham Hotspur
rivals = ['Everton', 'Manchester Utd', 'Chelsea', 'Manchester City', 'Arsenal', 'Tottenham']

# only get matches from 2009-08 onwards
df_liv_rivals = df_liv_matches[df_liv_matches['Season_End_Year'] >= 2010]

# filter out matches against rivals
df_liv_rivals = df_liv_rivals[(df_liv_rivals['Home'].isin(rivals)) | (df_liv_rivals['Away'].isin(rivals))]

# create a column to indicate whether Liverpool won, lost, or drew the match
df_liv_rivals['Liverpool_Result'] = np.where(df_liv_rivals['Home'] == 'Liverpool',
                                            np.where(df_liv_rivals['HomeGoals'] > df_liv_rivals['AwayGoals'], 'Win',
                                            np.where(df_liv_rivals['HomeGoals'] < df_liv_rivals['AwayGoals'], 'Loss', 'Draw')),
                                            np.where(df_liv_rivals['HomeGoals'] < df_liv_rivals['AwayGoals'], 'Win',
                                            np.where(df_liv_rivals['HomeGoals'] > df_liv_rivals['AwayGoals'], 'Loss', 'Draw')))

df_liv_rivals[df_liv_rivals["Season_End_Year"] == 2016]

,Season_End_Year,Wk,Date,Home,HomeGoals,AwayGoals,Away,FTR,Liverpool_Result
9015,2016,3,2015-08-24,Arsenal,0,0,Liverpool,D,Draw
9032,2016,5,2015-09-12,Manchester Utd,3,1,Liverpool,H,Loss
9063,2016,8,2015-10-04,Everton,1,1,Liverpool,D,Draw
9066,2016,9,2015-10-17,Tottenham,0,0,Liverpool,D,Draw
9086,2016,11,2015-10-31,Chelsea,1,3,Liverpool,A,Win
9113,2016,13,2015-11-21,Manchester City,1,4,Liverpool,A,Win
9195,2016,21,2016-01-13,Liverpool,3,3,Arsenal,D,Draw
9203,2016,22,2016-01-17,Liverpool,0,1,Manchester Utd,A,Loss
9263,2016,28,2016-03-02,Liverpool,3,0,Manchester City,H,Win
9296,2016,32,2016-04-02,Liverpool,1,1,Tottenham,D,Draw
9321,2016,27,2016-04-20,Liverpool,4,0,Everton,H,Win
9354,2016,30,2016-05-11,Liverpool,1,1,Chelsea,D,Draw

In [5]:
# group df_liv_matches_before by Season_End_Year and Liverpool_Result Percentage
df_liv_rivals = df_liv_rivals.groupby(['Season_End_Year', 'Liverpool_Result']).size().reset_index(name='Count')

# Convert Count to Percentage
df_liv_rivals['Count'] = df_liv_rivals['Count'] / 12 * 100
df_liv_rivals

    Season_End_Year Liverpool_Result      Count
0              2010             Draw  16.666667
1              2010             Loss  50.000000
2              2010              Win  33.333333
3              2011             Draw  25.000000
4              2011             Loss  41.666667
5              2011              Win  33.333333
6              2012             Draw  25.000000
7              2012             Loss  33.333333
8              2012              Win  41.666667
9              2013             Draw  58.333333
10             2013             Loss  33.333333
11             2013              Win   8.333333
12             2014             Draw   8.333333
13             2014             Loss  33.333333
14             2014              Win  58.333333
15             2015             Draw  33.333333
16             2015             Loss  41.666667
17             2015              Win  25.000000
18             2016             Draw  50.000000
19             2016             Loss  16.666667
20             2016              Win  33.333333
21             2017             Draw  41.666667
22             2017              Win  58.333333
23             2018             Draw  50.000000
24             2018             Loss  33.333333
25             2018              Win  16.666667
26             2019             Draw  41.666667
27             2019             Loss   8.333333
28             2019              Win  50.000000
29             2020             Draw  16.666667
30             2020             Loss  16.666667
31             2020              Win  66.666667
32             2021             Draw  25.000000
33             2021             Loss  25.000000
34             2021              Win  50.000000
35             2022             Draw  50.000000
36             2022              Win  50.000000
37             2023             Draw  33.333333
38             2023             Loss  25.000000
39             2023              Win  41.666667

In [6]:
# export df_liv_rivals to csv
df_liv_rivals.to_csv('df_liv_rivals.csv', index=False)

In [7]:
# create a diagram to show the win-loss-draw results grouped by season
fig_liv_rivals_results = px.bar(df_liv_rivals, x='Season_End_Year', y='Count', color='Liverpool_Result', barmode='group', text='Count', color_discrete_map={'Win':'green', 'Loss':'red', 'Draw':'grey'})
fig_liv_rivals_results.update_layout(
    title = 'Liverpool FC Win-Loss-Draw Results against top Rivals',
    legend_title = '',
    xaxis_title = 'Season',
    yaxis_title = 'Percentage of Matches',

    # show all ticks
    xaxis = dict(
        tickmode = 'linear',
        tick0 = 1993,
        dtick = 1
    ),
    
    annotations=[
        dict(
            x=0.5,
            y=-0.25,
            showarrow=False,
            text="Source: kaggle.com | Premier League Matches 1993-2023",
            xref="paper",
            yref="paper"
        )
    ]
)

In [8]:
# group df_liv_matches_before by Season_End_Year and Liverpool_Result Percentage
df_liv_results = df_liv_matches_before.groupby(['Season_End_Year', 'Liverpool_Result']).size().reset_index(name='Count')

# Convert Count to Percentage
df_liv_results['Count'] = df_liv_results['Count'] / 38 * 100
df_liv_results

    Season_End_Year Liverpool_Result      Count
0              2010             Draw  23.684211
1              2010             Loss  28.947368
2              2010              Win  47.368421
3              2011             Draw  18.421053
4              2011             Loss  36.842105
5              2011              Win  44.736842
6              2012             Draw  26.315789
7              2012             Loss  36.842105
8              2012              Win  36.842105
9              2013             Draw  34.210526
10             2013             Loss  23.684211
11             2013              Win  42.105263
12             2014             Draw  15.789474
13             2014             Loss  15.789474
14             2014              Win  68.421053
15             2015             Draw  21.052632
16             2015             Loss  31.578947
17             2015              Win  47.368421
18             2016             Draw   7.894737
19             2016             Loss   5.263158
20             2016              Win   7.894737

In [9]:
# create a diagram to show the win-loss-draw results grouped by season
fig_liv_results = px.bar(df_liv_results, x='Season_End_Year', y='Count', color='Liverpool_Result', barmode='group', color_discrete_sequence=['red', 'darkgreen', 'grey'])
fig_liv_results.update_layout(
    title = 'Liverpool FC Win-Loss-Draw Results',
    legend_title = '',
    xaxis_title = 'Season',
    yaxis_title = 'Percentage of Matches',
    # add source
    annotations=[
        dict(
            x=0.5,
            y=-0.25,
            showarrow=False,
            text="Source: kaggle.com | Premier League Matches 1993-2023",
            xref="paper",
            yref="paper"
        )
    ]
)

In [10]:
# export df_liv_results to csv
df_liv_results.to_csv('season_results_without_klopp.csv', index=False)

## Liverpool Matches with Klopp (2015-10-08)

In [11]:
df_liv_matches_after = df_liv_matches.copy()

# only get matches from 2015-10-08 onwards
df_liv_matches_after = df_liv_matches_after[df_liv_matches_after['Date'] >= '2015-10-08']

# create a column to indicate whether Liverpool won, lost, or drew the match
df_liv_matches_after['Liverpool_Result'] = np.where(df_liv_matches_after['Home'] == 'Liverpool',
                                            np.where(df_liv_matches_after['HomeGoals'] > df_liv_matches_after['AwayGoals'], 'Win',
                                            np.where(df_liv_matches_after['HomeGoals'] < df_liv_matches_after['AwayGoals'], 'Loss', 'Draw')),
                                            np.where(df_liv_matches_after['HomeGoals'] < df_liv_matches_after['AwayGoals'], 'Win',
                                            np.where(df_liv_matches_after['HomeGoals'] > df_liv_matches_after['AwayGoals'], 'Loss', 'Draw')))


df_liv_matches_after

,Season_End_Year,Wk,Date,Home,HomeGoals,AwayGoals,Away,FTR,Liverpool_Result
9066,2016,9,2015-10-17,Tottenham,0,0,Liverpool,D,Draw
9085,2016,10,2015-10-25,Liverpool,1,1,Southampton,D,Draw
9086,2016,11,2015-10-31,Chelsea,1,3,Liverpool,A,Win
9105,2016,12,2015-11-08,Liverpool,1,2,Crystal Palace,A,Loss
9113,2016,13,2015-11-21,Manchester City,1,4,Liverpool,A,Win
...,...,...,...,...,...,...,...,...,...
11980,2023,28,2023-05-03,Liverpool,1,0,Fulham,H,Win
11987,2023,35,2023-05-06,Liverpool,1,0,Brentford,H,Win
12002,2023,36,2023-05-15,Leicester City,0,3,Liverpool,A,Win
12005,2023,37,2023-05-20,Liverpool,1,1,Aston Villa,D,Draw
12020,2023,38,2023-05-28,Southampton,4,4,Liverpool,D,Draw

## Win Loss Ratio per Season

In [12]:
#

## Win Loss Ratio

In [13]:
# Without Klopp
df_liv_results_before = df_liv_matches_before['Liverpool_Result'].value_counts(normalize=True).rename_axis('Result').reset_index(name='Without Klopp')

# With Klopp
df_liv_results_after = df_liv_matches_after['Liverpool_Result'].value_counts(normalize=True).rename_axis('Result').reset_index(name='With Klopp')

# make percentages into percentages
df_liv_results_before['Without Klopp'] = df_liv_results_before['Without Klopp'] * 100
df_liv_results_after['With Klopp'] = df_liv_results_after['With Klopp'] * 100

# merge df_liv_results_before and df_liv_results_after
df_liv_results = pd.merge(df_liv_results_before, df_liv_results_after, on='Result', how='outer')
df_liv_results

  Result  Without Klopp  With Klopp
0    Win      47.457627   62.500000
1   Loss      28.813559   14.527027
2   Draw      23.728814   22.972973

In [14]:
# plot df_liv_results with plotly
fig = px.bar(df_liv_results, x='Result', y=['Without Klopp', 'With Klopp'], barmode='group', color_discrete_sequence=['red', 'darkgreen'])
fig.update_layout(
    title = 'Liverpool Results Before and After Klopp',
    xaxis_title = 'Result',
    yaxis_title = 'Percentage of Matches',
    legend_title = 'Klopp',
    font = dict(
        color='black'
    )
)
fig.show()

In [15]:
# export df_liv_results to csv
df_liv_results.to_csv('results_with_without_klopp.csv', index=False)

## Premier League Standings

In [16]:
df_standings = pd.read_csv('premier-league-tables.csv')
df_standings

,Season_End_Year,Team,Rk,MP,W,D,L,GF,GA,GD,Pts,Notes
0,1993,Arsenal,10,42,15,11,16,40,38,2,56,â†’ European Cup Winners' Cup via cup win 2
1,1993,Aston Villa,2,42,21,11,10,57,40,17,74,â†’ UEFA Cup via league finish
2,1993,Blackburn,4,42,20,11,11,68,46,22,71,NaN
3,1993,Chelsea,11,42,14,14,14,51,54,-3,56,NaN
4,1993,Coventry City,15,42,13,13,16,52,57,-5,52,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
621,2023,Nott'ham Forest,16,38,9,11,18,38,68,-30,38,NaN
622,2023,Southampton,20,38,6,7,25,36,73,-37,25,Relegated
623,2023,Tottenham,8,38,18,6,14,70,63,7,60,NaN
624,2023,West Ham,14,38,11,7,20,42,55,-13,40,NaN
625,2023,Wolves,13,38,11,8,19,31,58,-27,41,NaN

In [17]:
# only get Liverpool standings
df_liv_standings = df_standings[df_standings['Team'] == 'Liverpool']

# only get matches from 2009-08 onwards
df_liv_standings_before = df_liv_standings[df_liv_standings['Season_End_Year'] >= 2010]

# only get matches up to 2015-06-31
df_liv_standings_before = df_liv_standings_before[df_liv_standings_before['Season_End_Year'] <= 2015]

# drop Notes
df_liv_standings_before = df_liv_standings_before.drop(columns=['Notes'])

df_liv_standings_before

     Season_End_Year       Team  Rk  MP   W   D   L   GF  GA  GD  Pts
356             2010  Liverpool   7  38  18   9  11   61  35  26   63
375             2011  Liverpool   6  38  17   7  14   59  44  15   58
393             2012  Liverpool   8  38  14  10  14   47  40   7   52
411             2013  Liverpool   7  38  16  13   9   71  43  28   61
434             2014  Liverpool   2  38  26   6   6  101  50  51   84
454             2015  Liverpool   6  38  18   8  12   52  48   4   62

In [18]:
# export df_liv_standings_before to csv
df_liv_standings_before.to_csv('standings_without_klopp.csv', index=False)

In [19]:
# read salah_stats.xlsx
df_trent_stats = pd.read_excel('salah_stats.xlsx', sheet_name='trent_stats')
df_trent_stats

,Season_End_Year,Age,Squad,Country,Comp,LgRank,MP,Starts,Min,90s,...,Ast,G+A.1,G-PK.1,G+A-PK,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1,Matches
0,2017,17,Liverpool,engÂ ENG,1.Â Premier League,4th,7,2,167,1.9,...,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,NaN,Matches
1,2018,18,Liverpool,engÂ ENG,1.Â Premier League,4th,19,18,"1,573",17.5,...,0.06,0.11,0.06,0.11,0.05,0.15,0.21,0.05,0.21,Matches
2,2019,19,Liverpool,engÂ ENG,1.Â Premier League,2nd,29,27,"2,462",27.4,...,0.44,0.48,0.04,0.48,0.06,0.23,0.29,0.06,0.29,Matches
3,2020,20,Liverpool,engÂ ENG,1.Â Premier League,1st,38,35,"3,175",35.3,...,0.37,0.48,0.11,0.48,0.08,0.31,0.39,0.08,0.39,Matches
4,2021,21,Liverpool,engÂ ENG,1.Â Premier League,3rd,36,34,"3,031",33.7,...,0.21,0.27,0.06,0.27,0.08,0.26,0.33,0.08,0.33,Matches
5,2022,22,Liverpool,engÂ ENG,1.Â Premier League,2nd,32,32,"2,853",31.7,...,0.38,0.44,0.06,0.44,0.07,0.38,0.46,0.07,0.46,Matches
6,2023,23,Liverpool,engÂ ENG,1.Â Premier League,5th,37,34,"2,923",32.5,...,0.28,0.34,0.06,0.34,0.07,0.35,0.43,0.07,0.43,Matches

In [44]:
import plotly.graph_objects as go

# all time top assisting defenders
df_defenders = pd.read_excel("defender_assists.xlsx")
df_defenders

,Rank,Name,Club,Nationality,Games,Assists,Goals,Clean Sheets
0,1,Ashley Young,Everton,England,427,71,49,88
1,2,Andy Robertson,Liverpool,Scotland,257,57,9,77
2,3,Trent Alexander-Arnold,Liverpool,England,202,55,12,64
3,4,Leighton Baines,Everton,England,420,53,32,113
4,5,Antonio Valencia,Manchester United,Ecuador,325,46,24,105
5,6,Graeme Le Saux,-,England,327,44,12,92
6,7,Ian Harte,Bournemouth,Ireland,237,36,28,67
7,7,Andy Hinchcliffe,-,England,219,36,11,57
8,9,CÃ©sar Azpilicueta,AtlÃ©tico Madrid,Spain,349,35,10,115
9,9,Gary Neville,Manchester United,England,400,35,5,148
10,11,Dan Patrescu,-,Romania,215,33,23,42
11,12,Kyle Walker,Manchester City,England,368,32,8,125
12,13,Ashley Cole,Derby County,England,385,31,15,148
13,13,Garry Kelly,-,Ireland,325,31,2,103
14,15,Aaron Cresswell,West Ham,England,283,30,10,63

In [42]:
# scatterplot assists vs goals, bubble size = games
import plotly.graph_objects as go

# Create scatter plot
figg = go.Figure()

# Add data for each player
for i in range(len(df_defenders["Name"])):
    if df_defenders["Name"][i] == "Trent Alexander-Arnold":
        figg.add_trace(go.Scatter(x=[df_defenders["Assists"][i]], y=[df_defenders["Goals"][i]], mode='markers', name=df_defenders["Name"][i], 
                                 marker=dict(size=[df_defenders["Games"][i]/10], color='red', sizemode='diameter', opacity=0.6, line=dict(color='Black', width=1)),
                                 text=df_defenders["Name"][i]))
    else:
        figg.add_trace(go.Scatter(x=[df_defenders["Assists"][i]], y=[df_defenders["Goals"][i]], mode='markers', name=df_defenders["Name"][i],
                                 marker=dict(size=[df_defenders["Games"][i]/10], color='blue', sizemode='diameter', opacity=0.6),
                                 text=df_defenders["Name"][i]))

# Update layout for better visualization
figg.update_layout(
    title="Alltime Top Assisting Defenders",
    xaxis_title="Assists",
    yaxis_title="Goals",
    legend_title="Players",
    showlegend=False
)

# Show the plot
figg.show()

In [45]:
# read net spend
df_net_spend = pd.read_excel("net_spend.xlsx")
df_net_spend

,Club,Transfer expenditure (mil. eur),Transfer income (mil. eur),Net spend (mil. eur),Trophies,Net spend per trophy (mil. eur)
0,Manchester United,1790,465.74,1324.26,4,331.065000
1,Arsenal,1380,386.05,993.95,4,248.487500
2,Chelsea,2370,1380.00,990.00,8,123.750000
3,Liverpool,1220,769.67,450.33,6,75.055000
4,Manchester City,1790,724.30,1065.70,15,71.046667
5,Tottenham,1170,694.02,475.98,0,NaN

In [49]:
# Create figure
fig = go.Figure()

# Add bar chart for net spend
fig.add_trace(go.Bar(x=df_net_spend["Club"], y=df_net_spend["Net spend (mil. eur)"], name='Net Spend (mil. eur)', marker_color='#1A9E8E'))

# Add line chart for trophies
fig.add_trace(go.Scatter(x=df_net_spend["Club"], y=df_net_spend["Trophies"], mode='lines+markers', name='Trophies', yaxis='y2', line=dict(color='#2E2E3A', width=2)))

# Add bar chart for net spend per trophy
fig.add_trace(go.Bar(x=df_net_spend["Club"], y=df_net_spend["Net spend per trophy (mil. eur)"], name='Net Spend per Trophy (mil. eur)', marker_color='#FF6B6B'))

# Update layout for dual axis
fig.update_layout(
    title="Club's Net Spend, Trophies, and Efficiency (2013 - 2023)",
    xaxis_title="Club",
    yaxis_title="Net Spend (mil. eur)",
    yaxis2=dict(title='Trophies', overlaying='y', side='right'),
    barmode='group',
)

fig.show()